<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaStorage\Model\File\Uploader" type="Gene\Kraken\Model\Overrides\MediaStorage" />
    <preference for="Magento\Framework\File\Uploader" type="Gene\Kraken\Model\Overrides\FrameworkUploader" />
</config>