<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gene" translate="label" sortOrder="120">
            <label>Gene Commerce</label>
        </tab>
        <section id="gene_kraken" translate="label" type="text" sortOrder="10" showInDefault="1">
            <label>Kraken</label>
            <tab>gene</tab>
            <resource>Gene_Kraken::system_menu</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Kraken Image Optimisation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="api" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>API Connection</label>
                <field id="key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Public Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="secret" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>